page-barDetails {
    .selects {
        padding-left: 3%;
    }
    .productCard {
        padding-left: 3%;
        padding-right: 3%;
    }

    rating {
        ion-icon {
          padding: 0em !important;
        }
    }

    ion-label {
        display: inline-block;
        font-size: 18px;
    }

    ion-checkbox {
        top: -16px;
    }
}
