page-barDetails {
    .selects {
        padding-left: 3%;
    }
    .productCard {
        padding-left: 3%;
        padding-right: 3%;
    }

    .product-img {
        width:50px;
        height:50px;
        float: right;
        margin-top: 1em;
        margin-right: 2em;
    }

    rating {
        ion-icon {
          padding: 0em !important;
        }
    }

    ion-label {
        display: inline-block;
        font-size: 18px;
    }

    ion-checkbox {
        top: -16px;
    }
}
