<ion-header>

  <ion-navbar>
    <ion-title>
      {{bar?.name}}
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div>
    <ion-segment [(ngModel)]="segmentType" (ionChange)="segmentChanged()">
      <ion-segment-button value="OFFERS">
        Offers
      </ion-segment-button>
      <ion-segment-button value="MENU">
        Menu
      </ion-segment-button>
      <ion-segment-button value="EVENTS">
        Events
      </ion-segment-button>
    </ion-segment>
  </div>

  <div padding *ngIf="showOffers">
    <ion-card *ngFor="let offer of offers">

      <ion-card-header>
        {{offer.name}}
      </ion-card-header>

      <ion-card-content>
        <p>
          {{offer.description}}
        </p>
        <p>
          <strong>
            Price:
          </strong> {{offer.price}}€
        </p>
        <p>
      </ion-card-content>

    </ion-card>
  </div>

  <div *ngIf="showMenu">
    <div class="selects">

      <div class="item row">
        <div class="col">
          <ion-label>Drinks</ion-label>
          <ion-checkbox [(ngModel)]="drinks" (ionChange)="updateSelectedProducts()">
          </ion-checkbox>
        </div>
        <div class="col">
          <ion-label>Foods</ion-label>
          <ion-checkbox [(ngModel)]="foods" (ionChange)="updateSelectedProducts()">
          </ion-checkbox>
        </div>
        <div class="col">
          <ion-label>Others</ion-label>
          <ion-checkbox [(ngModel)]="others" (ionChange)="updateSelectedProducts()">
          </ion-checkbox>
        </div>
      </div>
    </div>
    
    <div class="productCard">
      <ion-card *ngFor="let product of filteredProducts">
        <img class="product-img" [src] = product.img/>
        <ion-card-header>
          {{product.name}}
        </ion-card-header>

        <ion-card-content>
          <p>
            <strong>
              Price:
            </strong> {{product.price}}€
          </p>
          <rating [(ngModel)]="product.rating" readonly="false" small="true" (ngModelChange)="onModelChange()">
          </rating>
        </ion-card-content>

      </ion-card>

    </div>
  </div>

  <div *ngIf="showEvents">

    <div padding>
      <ion-card *ngFor="let event of events">

        <ion-card-header>
          {{event.name}}
        </ion-card-header>

        <ion-card-content>
          <p>
            {{event.description}}
          </p>
          <p>
            <strong>
              Date:
            </strong> {{event.date}}
          </p>
          <p>
        </ion-card-content>

      </ion-card>

    </div>
  </div>
</ion-content>